body {
    
}
/*img{
    max-width:30%;
    max-height:30%;
}*/
h1 {
    color: #003e3f;
}
h2 {
    color: #003e3f;
}

h3 {
    color: #003e3f;
}

h4 {
    color: #00b9bc;
}

.btn-primary {
    border: none;
    background-color: #009092;
}
.btn-danger {
    border: none;
    background-color: #001515;
}
.hero {
    background-image: url('/images/homepage/profile-background.jpg'); /* Replace with your hero image URL */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.discover-heading {
    color: white;
}
