@using TrailVenturesSystem.Services.Data.Interfaces;
@using TrailVenturesSystem.Web.ViewModels.Hut;

@inject IMountainService MountainService;

@model HutFormModel
@{
    ViewData["Title"] = "Edit hut ";
}

<head>
    <link rel="stylesheet" href="~/css/FormsStyle.css">
</head>

<body class="pb-3">
    <div class="main-content pt-lg-5 pb-2">
        <h2 class="text-center">@ViewData["Title"] <u>@Model.Name</u></h2>
        <hr />

        <form method="post">
            <div class="form-group col-4 p-2 offset-4">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>


            <div class="form-group col-4 p-2 offset-4">
                <label asp-for="PricePerNight"></label>
                <input asp-for="PricePerNight" class="form-control">
                <span asp-validation-for="PricePerNight" class="small text-danger"></span>
            </div>
            <div class="form-group col-4 p-2 offset-4">
                <label asp-for="HostPhoneNumber"></label>
                <input asp-for="HostPhoneNumber" class="form-control" placeholder="+359888888888">
                <span asp-validation-for="HostPhoneNumber" class="small text-danger"></span>
            </div>
            <div class="form-group col-4 p-2 offset-4">
                <label asp-for="Altitude"></label>
                <input asp-for="Altitude" class="form-control">
                <span asp-validation-for="Altitude" class="small text-danger"></span>
            </div>

            <!--saving the url to pass to controller for redirect after saving-->
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

            <div class="text-center pb-2">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>

        </form>
    </div>

</body>

