@model MyTripsViewModel
@{
    ViewBag.Title = "My Trips";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<h4>My Added Trips</h4>
@if (!Model.AddedTrips.Any())
{
    <h2 class="text-center">You have no added trips yet!</h2>
}
<div class="row">
    @foreach (var trip in Model.AddedTrips)
    {
        @await Html.PartialAsync("~/Views/Shared/_TripPartial.cshtml", trip)
    }
</div>
<h4>Joined Trips</h4>
@if (!Model.JoinedTrips.Any())
{
    <h2 class="text-center">You have no joined trips yet!</h2>
}
<div class="row">
    @foreach (var trip in Model.JoinedTrips)
    {
        @await Html.PartialAsync("~/Views/Shared/_TripPartial.cshtml", trip)
    }
</div>