@model List<TripAllViewModel>
@{
    ViewData["Title"] = "My Trips";
}

<head>
    <link rel="stylesheet" href="~/css/AllTripsStyle.css">
</head>
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />


@if(!Model.Any())
{
    <h2 class="text-center">You do not have any planned trips yet!</h2>
}
else
{
    @if (Model.Count > 1)
    {
        <h3 class="text-center">You have @Model.Count planned trips.</h3>
    }
    else
    {
        <h3 class="text-center">You have @Model.Count planned trip.</h3>
    }


    <div class="row">
        @foreach(TripAllViewModel trip in Model)
        {
            <partial name="_TripPartial" model="trip"/>
        }
    </div>
}