@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <div class="text-left h4">
                    <p>Oops, you don't have access here.</p>
                </div>
                <div class="text-left h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>

                <img src="https://scontent.fsof11-1.fna.fbcdn.net/v/t39.30808-6/363353129_677306521103325_8882425517627493996_n.jpg?stp=cp6_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=3AeY_UXhz5MAX_Sd2D5&_nc_ht=scontent.fsof11-1.fna&oh=00_AfC21Omcbig0-7OqM0VjOnh6XH8fOqqXPgJl2jNFRqGjWQ&oe=64CB40E1"
                alt="Alternative image" class="img-thumbnail">                
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>